html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "DM Serif Display", serif;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.65;
	color: $white;
	background-color: $purple;

	&.active {
		overflow-y: hidden;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: $white;
}

.access-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.inner-wrap {
	max-width: 75rem;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.main.inner-wrap {
	padding: 0 1rem;
}

.header {
	padding: 1rem;

	.nav-wrap {
		padding: 0;
		list-style: none;
	}
}

.main {
	font-size: 2rem;
	min-height: calc(100vh - 116.8px);
}

.primary-header {
	margin-bottom: 0;
	line-height: 1.25;
}

.footer {
	padding: 1rem;
	justify-content: center;
}
